body {
    background-color: #ffffff;
    color: #000000;
}
.web {
    color:#2196F3;
    font-family: 'Raleway', sans-serif;
}
.studio {
    color:#000000;
    font-family: 'Raleway', sans-serif;
}
.studio2 {
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
}
.span-link {
    text-decoration: none;
}
